@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  background-color: #1a1a1a;
  color: #fff;
  width: 100%;
  height: 100vh;
  max-width: 100%;
  overflow-x: hidden;
}

::selection {
  background: rgba(94, 0, 218, 0.6)8;
}

.degradedBlue {
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  padding: 5px 0;
}

.mobile-view {
  margin-top: 4em;
  height: 77vh;
  margin-bottom: 0;
}

@media (min-width: 767px) {
  .mobile-view {
    margin-top: 0;
    height: 45rem;
    margin-bottom: 0;
  }
}

.button-header {
  display: none;
}

@media (min-width:767px) {
  .button-header {
    display: block;
  }
}

.button-visible {
  display: block;
}

@media (min-width: 767px) {
  .button-visible {
    display: none;
  }
}

.height-container {
  height: 500px;
}

.card-container {
  display: flex;
  align-items: center;
  padding: 2%;
  width: 100%;
  height: 73rem;
  font-size: 10px;
  background: linear-gradient(to right, #ffbe0b, #fb5407);
  border-radius: 10px;
  margin-top: 8em;
  justify-content: center;
  max-width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.form-button {
  background: linear-gradient(to right, #ffbe0b, #fb5407);
}

.form-button:hover {
  opacity: 0.7;
}

@media (min-width: 767px) {
  .card-container {
    height: 50em;
    width: 110em;
    font-size: 13.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #ffbe0bb9, #fb5407ab);
    transition: all ease-in-out 350ms;
  }

  .card-container:hover {
    background: linear-gradient(to right, #ffbe0b, #fb5607);
    transform: scale(110%);
  }

}

.text-card {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.7rem;
}

@media (min-width:767px) {
  .text-card {
    font-size: unset;
  }
}

.cards {
  width: 100%;
  height: 50%;
}

.img-card {
  width: 30%;
  height: auto;
}

.img-card4 {
  width: 40%;
  height: auto;
}

.header-card {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.shadow-cards {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.432);
  cursor: pointer;
  transition: all ease-in-out 350ms;
  background: #eeeeee;
  height: 15rem;
  width: 18rem;

}

@media (min-width:767px) {
  .shadow-cards {
    height: 20rem;
    width: auto;
  }
}

.shadow-cards:hover {
  box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.699);
  background-color: #1a1a1a;
  color: #fff;
  transform: scale(107%);
}

.text-gradient {
  background: #1a1a1a;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.shadow-cards:hover .text-gradient {
  background: linear-gradient(to right, #ffbe0b, #fb5607);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.degradable {
  color: #1a1a1a;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}


.degradable:hover {
  background: linear-gradient(to right, #ffbe0b, #fb5607);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.swiper-pagination-bullet {
  background: #fff !important;
}

.swiper-pagination-bullet-active {
  background: rgba(94, 0, 218, 0.6) !important;
}

.slider-horizontal {
  display: flex;
  animation: swipe 5000ms linear infinite backwards;
}

@keyframes swipe {
  0% {
    transform: translate(0);
  }

  100% {
    transform: translate(-100%);
  }
}

.phone {
  width: 120%;
  margin-left: -8%;
}

.navbar {
  margin-bottom: 0;

}

@media (min-width: 767px) and (max-width: 1919px) {
  .navbar {
    gap: 400px;
    margin: 0 auto;
    min-width: 10%;
  }
}

@media (min-width: 1920px) {
  .navbar {
    gap: 800px;
    margin: 0 auto;
    max-width: 1920px;
    min-width: 10%;
  }
}



.links-nav {
  color: #fff;
  transition: background-color 0.3s ease-in-out;
  font-size: 21px;
  transition: all ease-in-out 500ms;

}


.links-nav:hover {
  background: linear-gradient(to right, #ffbe0b, #fb5607);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  scale: 110%;
}

.btn-bg.bg-2 .btn-2 button {
  color: #fff;
  background: linear-gradient(to right, #ffbe0b, #fb5607);
  border: none;
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.btn-bg.bg-2 .btn-2 button:hover {
  background: transparent;
  color: #f8f8f8;
}

.btn-bg.bg-2 .btn-2 button:hover:before,
.btn-bg.bg-2 .btn-2 button:hover:after {
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
  width: 100%;
}

.btn-bg.bg-2 .btn-2 button:before,
.btn-bg.bg-2 .btn-2 button:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0px;
  width: 0px;
  height: 3px;
  background: linear-gradient(to right, #ffbe0b, #fb5607);
  transition: all 0.4s ease;
}

.btn-bg.bg-2 .btn-2 button:after {
  top: inherit;
  left: inherit;
  bottom: 0;
  right: 0;
}

button {
  width: 100%;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  color: #fff;
  position: relative;
  font-weight: 400;
  padding: 1rem 3rem 1rem 3rem;
  font-size: 1.5em;
}

button a {
  text-decoration: none;
}

.img-phone {
  animation: phoneAnimation 5s linear infinite;
}

@keyframes phoneAnimation {
  0% {
    transform: translate(0);
  }

  50% {
    transform: translateY(16px);
  }

  100% {
    transform: translateY(0);
  }
}

@media (min-width: 767px) {
  .button-contact {
    width: 100%;
    height: auto;
    max-width: 100%;
  }
}

.circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 1;
  z-index: -3;
}

.circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 10s linear infinite;
  bottom: -150px;
  animation-delay: 0s;
  z-index: -3;
}

.circles li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
  z-index: -3;
}

.circles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
  animation-duration: 14s;
  z-index: -3;
}

.circles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
  z-index: -3;
}

.circles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 4s;
  animation-duration: 20s;
  z-index: -3;
}

.circles li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
  z-index: -3;
}

.circles li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 7s;
  z-index: -3;
}

.circles li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 11s;
  z-index: -3;
}

.circles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 19s;
  animation-duration: 47s;
  z-index: -3;
}

.circles li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 4s;
  animation-duration: 37s;
  z-index: -3;
}

.circles li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 2s;
  animation-duration: 13s;
  z-index: -3;
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
    background: rgb(255, 105, 105);
  }

  50% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 15%;
    background: rgba(255, 145, 72);
  }


  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
    background: rgba(217, 112, 255, 0.7);
  }
}