@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black: #000000ff;
  --white: #ffffffff;
  --oxford-blue: #00153bff;
  --coquelicot: #ff620e;
  --platinum: #e2e2e2ff;
  --red: #e92b2b;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #1a1a1a;
  color: var(--white);
  width: 100%;
  height: 100vh;
  max-width: 100%;
  overflow-x: hidden;
}

.degradedBlue {
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  padding: 5px 0;
}

.mobile-view {
  margin-top: 2em;
  height: 77vh;
  margin-bottom: 170px;
  font-size: 0.8rem;

}

@media (min-width: 279px) {
  .title-mobile {
    font-size: 2.5rem;
  }
}

@media (min-width: 280px) {
  .mobile-view {
    margin-top: 2em;
    height: 78.5vh;
    margin-bottom: 63px;
    font-size: 0.7rem;
  }

  .text-card {
    font-size: 11px;
  }

  .button-visible {
    display: block;
    margin-top: -20px;

  }

  .title-mobile {
    font-size: 2rem;
  }

  .title-imagine h2 span {
    font-size: 40px;
  }

  .text-imagine {
    font-size: 14px;
  }

  .text-imagine2 {
    font-size: 12px;
  }

  .button-contact-component {
    font-size: 10px;
  }

  .button-header {
    display: none;
  }


  .background-contact p {
    font-size: 15px;
  }

  .background-contact {
    height: 28rem;
  }

  .background-contact h2 span {
    font-size: 40px;
  }

  .form-container {
    padding: 0;
  }

  .contact-content {
    margin-top: 3.5rem;
  }
}


@media (min-width: 376px) {
  .mobile-view {
    height: 94vh;
    font-size: 1rem;
    margin-bottom: -105px;
  }

  .title-mobile {
    font-size: 3.5rem;
  }

  .text-card {
    font-size: 12px;
  }
}

@media (min-width: 389px) {
  .mobile-view {
    margin-bottom: 25px;
  }

  .form-section {
    margin: 0;
  }
}

@media (min-width: 412px) and (max-width: 429px) {
  .mobile-view {
    margin-bottom: -40px;
  }

  .form-section {
    margin: 0;
  }

  .text-card {
    font-size: 12px;
  }
}



@media (min-width: 430px) {
  .mobile-view {
    margin-bottom: -50px;
  }

}

@media (min-width: 540px) and (max-width: 766px) {
  .mobile-view {
    margin-bottom: 75px;
  }

  .form-section {
    margin: 0;
  }
}

@media (min-width: 767px) {
  .mobile-view {
    margin-top: 0;
    height: 45rem;
    margin-bottom: 0;
  }
}

@media (min-width: 768px) and (max-width: 820px) {
  .mobile-view {
    font-size: 1rem;
    margin-left: 0;
    margin-bottom: 151px;
  }

  .animation {
    margin-left: -60px;
    margin-top: -10px;
  }

  .title-mobile {
    margin-bottom: 25px;
  }

  .button-header {
    display: none;
  }

  .button-visible {
    display: block;
    width: 65%;
    margin-top: -50px;

  }

  .cards {
    width: auto;
    height: auto;
    display: grid;
    justify-content: center;
    align-items: center;

  }

  .text-card {
    font-size: 16px;
  }

  .background-contact {
    height: 35em;
    max-width: 1550px;
    width: 100%;
    font-size: 13.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }

  .img-phone {
    width: 100%;
  }

  .form-contact {
    gap: 15px;
  }

  .form-section {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (min-width: 1024px) {
  .button-visible {
    display: block;
    width: 60%;
    margin-top: -50px;
  }

  .mobile-view {
    font-size: 1.3rem;
    margin-left: 0;
    margin-bottom: 151px;
  }

  .title-mobile span {
    font-size: 65px;
    margin-bottom: 15px;
  }

  .cards {
    width: auto;
    height: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;

  }

  .background-contact {
    height: 35rem;
  }

  .background-contact h2 span {
    font-size: 50px;
  }

  .background-contact p {
    font-size: 18px;
  }

  .text-card {
    font-size: 18px;
  }

  .form-contact {
    gap: 15px;
  }

  .form-contact p {
    font-size: 20px;
  }

  .form-section {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .text-imagine {
    font-size: 20px;
  }

  .text-imagine2 {
    font-size: 17px;
  }


}

@media (min-width: 1920px) {
  .button-contact {
    display: block;
  }

  .button-visible {
    display: none;
  }

  .button-header {
    display: block;
  }

  .title-imagine h2 span {
    font-size: 50px;
  }

  .navbar {
    gap: 800px;
    margin: 0 auto;
    max-width: 1920px;
    min-width: 10%;
  }

  .cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  .card-container {
    height: 48rem;
    width: 100rem;
  }

  .text-card {
    font-size: 16px;
  }

  .background-contact {
    height: 45em;
    max-width: 1550px;
    width: 80%;
    margin: 0 auto;
  }

  .background-contact h2 span {
    font-size: 60px;
  }

  .background-contact p {
    font-size: 18px;
  }

  .form-section {
    margin: 0;
  }

  .form-section form {
    width: 80%;
  }
}



.height-container {
  height: 500px;
}

.card-container {
  display: flex;
  align-items: center;
  padding: 2%;
  font-size: 10px;
  background: linear-gradient(to right, #ff620e, #e92b2b);
  border-radius: 10px;
  margin-top: 8em;
  justify-content: center;
  max-width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.form-button {
  background: linear-gradient(to right, #ff620e, #e92b2b);
}

.form-button:hover {
  opacity: 0.7;
}

.text-center {
  display: flex;
  justify-content: center;
  align-items: center;
}


.img-card {
  width: 30%;
  height: auto;
}

.img-card4 {
  width: 40%;
  height: auto;
}

.header-card {
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.shadow-cards {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.432);
  cursor: pointer;
  transition: all ease-in-out 350ms;
  background: #eeeeee;
  height: 15rem;
  width: 18rem;

}

@media (min-width:767px) {
  .shadow-cards {
    height: 20rem;
    width: auto;
  }
}

.shadow-cards:hover {
  box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.699);
  background-color: #1a1a1a;
  color: #fff;
  transform: scale(107%);
}

.text-gradient {
  background: #1a1a1a;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.shadow-cards:hover .text-gradient {
  background: linear-gradient(to right, #ff620e, #e92b2b);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.degradable {
  color: #1a1a1a;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}


.degradable:hover {
  background: linear-gradient(to right, #ffbe0b, #fb5607);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.swiper-pagination-bullet {
  background: #fff !important;
}

.swiper-pagination-bullet-active {
  background: rgba(94, 0, 218, 0.6) !important;
}

.slider-horizontal {
  display: flex;
  animation: swipe 5000ms linear infinite backwards;
}

@keyframes swipe {
  0% {
    transform: translate(0);
  }

  100% {
    transform: translate(-100%);
  }
}

.phone {
  width: 100%;
}


.navbar {
  margin-bottom: 0;

}

@media (min-width: 767px) and (max-width: 1919px) {
  .navbar {
    margin: 0 auto;
    min-width: 10%;
  }
}


.links-nav {
  color: #fff;
  transition: background-color 0.3s ease-in-out;
  font-size: 21px;
  transition: all ease-in-out 500ms;

}


.links-nav:hover {
  background: linear-gradient(to right, #ff620e, #e92b2b);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  scale: 110%;
}

.btn-bg.bg-2 .btn-2 button {
  color: var(--white);
  background: linear-gradient(to right, #ff620e, #e92b2b);
  border: none;
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.404)
}

.btn-bg.bg-2 .btn-2 button:hover {
  background: transparent;
  color: #ff4000ff;
}

.btn-bg.bg-2 .btn-2 button:hover:before,
.btn-bg.bg-2 .btn-2 button:hover:after {
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
  width: 100%;
}

.btn-bg.bg-2 .btn-2 button:before,
.btn-bg.bg-2 .btn-2 button:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0px;
  width: 0px;
  height: 3px;
  background: linear-gradient(to right, #00153bff, #ff4000ff);
  transition: all 0.7s ease;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.404)
}

.btn-bg.bg-2 .btn-2 button:after {
  top: inherit;
  left: inherit;
  bottom: 0;
  right: 0;
}

button {
  width: 100%;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  color: #fff;
  position: relative;
  font-weight: 400;
  padding: 1rem 3rem 1rem 3rem;
  font-size: 1.5em;
}

button a {
  text-decoration: none;
}

.img-phone {
  animation: phoneAnimation 5s linear infinite;
}

@keyframes phoneAnimation {
  0% {
    transform: translate(0);
  }

  50% {
    transform: translateY(16px);
  }

  100% {
    transform: translateY(0);
  }
}

@media (min-width: 767px) {
  .button-contact {
    width: 100%;
    height: auto;
    max-width: 100%;
  }
}

.background-contact {
  background: linear-gradient(to right, rgb(240, 240, 240), rgb(209, 208, 208), #ffffffff);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  background-size: cover;
}

.button-contact button:active {
  transition: none;
}